{% extends 'base.html' %}

{% block title %}Students List{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>👨‍🎓 Students List</h2>
        <a href="/students/add" class="btn btn-primary">+ Add Student</a>
    </div>

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Course</th>
                <th>Phone</th>
                <th>Batch</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student[0] }}</td>
                <td>{{ student[1] }}</td>
                <td>{{ student[2] }}</td>
                <td>{{ student[4] }}</td>
                <td>{{ student[3] }}</td>
                <td>{{ student[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}